**/*.map
*.vsix
.claude/**
.gitignore
.vscode-test/**
.vscode/**
dev/**
dist/dev/**
esbuild.mjs
node_modules/**
out-test/**
release/**
scripts/**
src/**
test/**
tsconfig.json
vitest.config.*
vitest.config.ts
